<div style="min-width: 300px; min-height: 300px;">
    <mat-toolbar class="center" style="background-color: transparent; padding-right: 0px; padding-left: 20px;">
        <mat-card-title style="padding-right: 50px;">{{ contact.fullName.fullName }}</mat-card-title>
        <span class="spacer"></span>
            <button class="general-icon-button" mat-icon-button aria-lable="Edit Contact" (click)="gotToEditContact(contact)">
                <mat-icon>edit</mat-icon>
            </button>
            <button class="general-icon-button" mat-icon-button aria-lable="Delete Contact" (click)="deleteContact(contact)">
                <mat-icon>delete</mat-icon>
            </button>
    </mat-toolbar>
    <mat-list class="contact-list">
        <mat-list-item *ngFor="let phoneNumber of contact.phoneNumbers; let i = index;">
        <mat-icon class="general-icon" mat-list-icon *ngIf="i == 0">phone</mat-icon>
        <mat-icon mat-list-icon style="color: transparent;" *ngIf="i > 0">phone</mat-icon>
        <h4 mat-line>{{ phoneNumber.value }}</h4>
        <p class="subtitle" mat-line>{{ phoneNumber.type }}</p>
        </mat-list-item>
    </mat-list>
    <!-- List to display contact's emails -->
    <mat-divider></mat-divider>
    <mat-list class="contact-list">
        <mat-list-item *ngFor="let email of contact.emails; let i = index;">
        <mat-icon class="general-icon" mat-list-icon *ngIf="i == 0">email</mat-icon>
        <mat-icon mat-list-icon style="color: transparent;" *ngIf="i > 0">email</mat-icon>
        <h4 mat-line>{{ email.value }}</h4>
        <p class="subtitle" mat-line>{{ email.type }}</p>
        </mat-list-item>
    </mat-list>
</div>
