@import '../app.component.css';

.mat-expansion-panel-body {
    padding: 0;
}

.view-container {
    max-height: 500px;
    width: 800px;
    overflow: auto;
}

.view-container-search {
    min-height: 50px;
    max-height: 500px;
    width: 800px;
    overflow: auto;
}

.contact-list-item:hover {
    background-color: #F8F8F8;
    cursor: default;
}

.contact-list::-webkit-scrollbar {
    background-color: transparent;
}

.search-input {
    height: 30px;
    width: 90%;
    padding-left: 10px;
    font-size: small;
    border: 2px solid #673AB7;
    border-radius: 30px;
}

.search-input:focus {
    outline: none;
}

.subtitle {
    color: darkgray;
}

.contact-header {
    font-size: large;
    font-weight: bold;
}

.contact-list {
    max-height: 250px;
    overflow: auto;
}

.light-text {
    color: #B8B8B8;
    font-weight: lighter;
    font-size: small;
}