@import '../app.component.css';

.mat-expansion-panel-body {
    padding: 0;
}

.view-container {
    position: absolute;
    top: 0px;
    max-height: 100%;
    width: 800px;
    overflow: auto;
}

.parent-str {
    position: relative;
}

.child-str {
    position: absolute;
    top: 18px;
    padding-left: 20px;
}

.view-container-search {
    min-height: 50px;
    max-height: 75%;
    width: 800px;
    overflow: auto;
}

.contact-list-spacing {
    padding-left: 30px;
}

.contact-list-item {
    padding-left: 50px;
}

.contact-list-item:hover {
    background-color: #F8F8F8;
    cursor: default;
}

.contact-list::-webkit-scrollbar {
    background-color: transparent;
}

.add-contact {
    position: absolute;
    top: 50%;
    right: 0; 
    transform: translate(30px, -50%);
}

.search {
    width: 400px; 
    position: absolute; 
    top: 32px; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.search-input {
    height: 30px;
    width: 90%;
    padding-left: 10px;
    font-size: small;
    border: none;
    border-radius: 30px;
}

.search-input:focus {
    outline: none;
}

.subtitle {
    color: darkgray;
}

.contact-header {
    font-size: large;
    font-weight: bold;
}

.contact-list {
    max-height: 250px;
    overflow: auto;
}

.light-text {
    color: #B8B8B8;
    font-weight: lighter;
    font-size: small;
}

.sticky-divider {
    position: sticky; 
    top: 0px;
}

.inline-item {
    display: inline-block;
}

.transparent-str {
    color: transparent;
    background-color: transparent;
}
