<!-- Search input field -->
<div class="center">
    <p style="width: 400px;" class="center" appearance="legacy">
        <input class="search-input" (keyup)="setContacts(searchVal.value); groupsSet=false" #searchVal type="text" placeholder="Search contacts">
    </p>
    <button class="general-icon-button" mat-icon-button (click)="router.navigate(['contacts']);">
        <mat-icon>person_add</mat-icon>
    </button>
</div>

<!-- Accordion for displaying contacts -->
<div class="center" *ngIf="contacts$ | async;let contacts">
    <div *ngIf="contacts.length > 0; then setGroups(contacts)"></div>
    <!-- ContactLength: {{ cons.length }} -->
    <mat-list #clist *ngIf="groupsSet" style="padding-top: 0px;" class="mat-elevation-z8 view-container">
      <div *ngFor="let contactGroup of contactGroups; let ii = index;">
        <!-- <div class="sticky-divider"> -->
          <div class="parent-str">
            <div class="child-str light-text">
              {{ contactGroup.value }}
            </div>
          </div>
          <mat-divider></mat-divider>
        <!-- </div> -->
        <!-- <div class="contact-list-spacing"> -->
          <mat-list-item (click)="openBottomSheet(contact)" 
                          class="contact-list-item"
                          (mouseover)="setIndex(i.toString() + ii.toString())"
                          *ngFor="let contact of contacts | slice:contactGroup.start:contactGroup.end; let i = index">
            <span class="contact-list-spacing"></span>{{ contact.fullName.fullName }}
            <span class="spacer"></span>
            <button (click)="$event.stopPropagation()" *ngIf="hoveredIndex === (i.toString() + ii.toString())" class="general-icon-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item aria-lable="Edit Contact" (click)="gotToEditContact(contact)">
                <mat-icon>edit</mat-icon>
                <span>edit</span>
              </button>
              <button mat-menu-item aria-lable="Delete Contact" (click)="deleteContact(contact)">
                <mat-icon>delete</mat-icon>
                <span>delete</span>
              </button>
            </mat-menu>
          </mat-list-item>
        <!-- </div> -->
      </div>
    </mat-list>
</div>
<br>