<div class="center card-custom">
<mat-card class="mat-form-field">
    <form [formGroup]="loginForm">
        <mat-card-header class="center">
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <p>
            <mat-form-field appearance="legacy">
                <input matInput #email type="text" placeholder="Email" required [formControl]="emailFormControl"
                [errorStateMatcher]="matcher">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <input matInput #password type="password" class="form-control mb-2" placeholder="Password" required>
            </mat-form-field>
        </p>
        <p class="center">
        <button mat-button color="primary" 
                class="btn btn-lg btn-primary btn-block mb-1" 
                type="submit" 
                (click)="login(email.value, password.value)">Login</button>
        </p>
    </form>
</mat-card>
</div>
<p class="center">
    <span class="text-option">Don't have an account?</span>
    <button class="btn-route-link" (click)="router.navigate(['register']);">
        Register
    </button>
</p>