<div class="center">
    <form [formGroup]="loginForm">
        <div class="card-header">Login</div>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput #email type="text" placeholder="Email" required autofocus>
            </mat-form-field>
        </p>
        <input #password type="password" class="form-control mb-2" placeholder="Password" required><br>
        <button class="btn btn-lg btn-primary btn-block mb-1" type="submit" (click)="login(email.value, password.value)">Login</button>
    </form>
</div>