.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-auto {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.center-right {
    display: flex;
    align-items: right;
    justify-content: right;
}

.center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-width-field {
    width: 314px;
    padding-right: 12px;
    padding-left: 28px;
}

.full-width-field-1 {
    width: 314px;
}

.input-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.input-card-column-division {
    padding-right: 15px;
}

.card-custom {
    padding-top: 20px;
}

.card-size-2 {
    min-width: 250px;
}

.input-width-4 {
    width: 90%;
}

.text-option {
    font-size: 14px;
}

.dropdown-btn {
    padding: 0%;
    border: 0px;
    outline: none;
    background: none;
}

.type-icon {
    padding-left: 8px;
    padding-right: 8px;
}

.dropdown-btn:hover {
    cursor: pointer;
}

.card-contact-div {
    max-width: 430px;
}

.card-email-phone {
    width: 219px;
    padding-right: 12px;
}

.card-type-email-phone {
    width: 75px;
    padding-right: 20px;
    padding-left: 12px;
}

.btn-route-link {
    border: none;
    background-color: none;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
}

.btn-route-link:focus {
    outline: none;
}

.btn-route-link:hover {
    color: #673AB7;
}

.general-icon-button {
    color: #696969;
}

.general-icon {
    color: #696969;
}

.general-icon-button:hover {
    color: #383838;
}

.general-icon-light {
    color: #696969;
}

.general-icon-button-light {
    color: white;
}

.general-icon-button-light:hover {
    color: #E8E8E8;
}

.spacer {
    flex: 1 1 auto;
}

.contact-form-list {
    max-height: 300px;
    overflow: auto;
}

.contact-form-list::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
}