.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-auto {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.center-right {
    display: flex;
    align-items: right;
    justify-content: right;
}

.center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-width-field {
    width: 75%;
    padding-right: 5%;
    padding-left: 5%;
}

.input-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.input-card-column-division {
    padding-right: 15px;
}

.card-custom {
    padding-top: 20px;
}

.text-option {
    font-size: 14px;
}

.dropdown-btn {
    padding: 0%;
    border: 0px;
    outline: none;
    background: none;
}

.dropdown-btn:hover {
    cursor: pointer;
}

.card-contact-div {
    max-width: 400px;
}

.card-email-phone {
    width: 50%;
    padding-right: 5%;
}

.card-type-email-phone {
    width: 20%;
    padding-right: 5%;
    padding-left: 5%;
}

.btn-route-link {
    border: none;
    background-color: none;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
}

.btn-route-link:focus {
    outline: none;
}

.btn-route-link:hover {
    color: #673AB7;
}