.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-custom {
    padding-top: 20px;
}

.text-option {
    font-size: 14px;
}

.btn-route-link {
    border: none;
    background-color: none;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
}

.btn-route-link:focus {
    outline: none;
}

.btn-route-link:hover {
    color: #673AB7;
}