<div class="center card-custom">
    <form [formGroup]="resetPasswordForm">
        <mat-card class="mat-form-field">
            <mat-card-header class="center">
                <mat-card-title>Reset Password</mat-card-title>
                <mat-card-subtitle>Enter the email associated with your account</mat-card-subtitle>
            </mat-card-header>
            <p class="center">
                <mat-form-field style="width: 90%;" appearance="legacy">
                    <input matInput #email type="text" placeholder="Email" required [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
            </p>
            <p class="center">
                <button mat-raised-button color="primary" 
                        type="submit" 
                        (click)="sendPasswordResetEmail(email.value)">Send Reset Email</button>
            </p>
        </mat-card>
    </form>
</div>
<p class="center">
    <button class="btn-route-link" (click)="router.navigate(['login']);">
        Return to Login
    </button>
</p>